mixin about-student()
	+b.SECTION.about-student&attributes(attributes)
		+e.inner.container
			+e.HEADER.header
				+e.H2.title О будущем ученике
				+e.P.subtitle Ребятам из Loftschool будет полезно узнать немного обо мне
			+e.content-box._some-about-me
				+e.H3.description Немного обо мне
				+e.P.description-text Я живу в Белоруссии. Мне 35 лет. Опыт в разработке - больше года.
					| Подрабатываю наставником на базовом и продвинутом курсах HTML Academy.
					| На этот курс пришел за крутым
					+e.A.link._blue.link(href='#') резюме :)
			+e.content-box._develop-expirience
				+e.H3.description Мой опыт в разработке
				+e.P.description-text  Окончил пару курсов в loftchool (комплексная веб-разработка и комплексный java-script),
					| также ожидаю открытия обновленного курса по Angular.js.
					| В разработке использую такие технологии как: html5, css3, jade, sass, stylus,
					| js, git, npm, bash, svg, умею верстать адаптивно и кроссбраузерно.
