.about-student
	&__inner
		clearfix()
		padding-top: 84px
		margin-bottom: 12px
	&__header
		text-align: center
		margin-bottom: 34px
	&__title
		margin-bottom: 24px
		font-family: $base-font
		color #212121
		font-size 42px
		font-weight 500
		line-height 28px
	&__subtitle
		color: #727272
		font-family: $base-font
		font-size: 21px
		font-weight: 300
		line-height: 28px
	&__content-box
		max-width: 460px
		padding-left: 160px
		padding-right: 20px
		&_some-about-me
			float: left
			background-image: url(../images/hello.svg)
			background-repeat: no-repeat

		&_develop-expirience
			float: right
			background-image: url(../images/experience.svg)
			background-repeat: no-repeat
	&__description
		margin-bottom: 8px
		color #212121
		font-family: $base-font
		font-size 21px
		font-weight 400
		line-height 28px
	&__description-text
		font-family: $base-font
		color: #727272
		font-size 14px
		font-weight 300
		line-height 21px
	&__link
		text-decoration underline
		&_blue
			color #03a9f4
