.loftblog-courses
	padding-top: 145px
	background: url(../images/gplaypattern.png)
	&__inner
		display: block
		position: relative
		height: 100%
		min-height: 100%
		height: auto
		&:after
			content: ''
			display block
	&__all-checked-toggle
		position: absolute
		top: 50%
		left: 50%
		padding-left: 60px
		color #8cc34b
		font-family: $base-font
		font-size: 42px
		font-weight: 500
		line-height 28px
		transform: translateY(-50%) translateX(-50%)
		visibility: hidden;
		&:before
			position: absolute
			left: 5px
			top: calc(50% - 20px)
			content: ''
			width: 10px
			height: 20px
			border-right: 5px solid #8cc34b
			border-bottom: 5px solid #8cc34b
			transform: rotate(45deg)
	&__header
		margin-bottom: 40px
		text-align: center
	&__title
		margin-bottom: 24px
		color #212121
		font-family: $base-font
		font-size 42px
		font-weight 500
		line-height 28px
	&__subtitle
		color #727272
		font-family: $base-font
		font-size 21px
		font-weight 300
		line-height 28px
	&__course-wrapper
		font-size: 0

.course
	position: relative
	display: inline-block
	vertical-align: top
	width: 300px
	margin-right: 20px
	margin-bottom: 23px
	padding: 0 20px
	border-radius: 2px
	background-color: #fff
	box-shadow 0 1px 5px rgba(0, 0, 0, 0.2)
	&:nth-child(3n)
		margin-right: 0
	&:hover > &__img-wrap
		border-bottom:5px solid #8cc34b
		transition: border .2s
	&__img-wrap
		max-height: 170px
		margin-left: -20px
		margin-bottom: 20px
		&_java-script
			sprite $js
		&_jquery
			sprite $jq
		&_page-elems
			sprite $elems
		&_adaptive
			sprite $adaptive
		&_button-generator
			sprite $button
		&_adaptive-gallery
			sprite $gallery
	&__title
		margin-bottom: 8px
		color #212121
		font-family: $base-font
		font-size 21px
		font-weight 400
		line-height 24px
	&__description
		padding-bottom: 10px
		color #727272
		font-family: $base-font
		font-size 14px
		font-weight 300
		line-height 21px
	&__duration
		position: relative
		display: inline-block
		vertical-align: bottom
		margin-bottom: 13px
		padding-left: 17px
		color #b6b6b6
		font-family: $base-font
		font-size 14px
		font-weight: 300
		line-height 21px
		&:before
			position: absolute
			content: ''
			top: calc(50% - 8px)
			left: 0
			sprite $clock


.input-box
	position: relative
	display: block
	min-height: 60px
	margin: 0 -20px
	padding-left: 60px
	background-color: #f6f7f2
	color #727272
	font-family: $base-font
	font-size 18px
	font-weight 400
	line-height 60px
	cursor: pointer
	&:before
		position: absolute
		content: ''
		top: calc(50% - 8px)
		left: 22px
		width: 16px
		height: 16px
		background-color #fff
		border 2px solid #b6b6b6
		border-radius 2px
	&:after
		position: absolute
		content: ''
		top: calc(50% - 6px)
		left: 27px
		width: 5px
		height: 8px
		border-bottom: 4px solid #fff
		border-right: 4px solid #fff
		transition: transform .3s
.checkbox
	display: none
	&__courses:checked + label:after
		transform: rotate(45deg)
	&__courses:checked + label:before
		background-color #8cc34b
		border 2px solid transparent
