.contacts
	&__list
		font-size: 0
		padding-top: 15px
	&__item
		display: inline-block
		vertical-align: middle
		margin-right: 25px
		&:last-child
			margin-right: 0
	&__link
		display: inline-block
		vertical-align: middle
	&_header
		float right
.icon
	transition all .2s
	&_git
		fill #fff
		opacity .7
		&:hover
			opacity 1
	&_skype
		fill #fff
		opacity .7
		&:hover
			opacity 1
	&_vk
		fill #fff
		opacity .7
		&:hover
			opacity 1
