mixin contacts()
	+b.contacts&attributes(attributes)
		+e.UL.list
			+e.LI.item
				+e.A.link._github.link(href='https://github.com/stakeout') github
					svg.icon.icon_git(width="30" height="30")
						use(xlink:href='assets/images/svg/icon.svg#icon_git')
			+e.LI.item
				+e.A.link._skype.link(href='skype:vadim.novash?chat') skype
					svg.icon.icon_skype(width="30" height="30")
						use(xlink:href='assets/images/svg/icon.svg#icon_sk')
			+e.LI.item
				+e.A.link._vk.link(href='https://new.vk.com/id268045389') vkontact
					svg.icon.icon_vk(width="30" height="30")
						use(xlink:href='assets/images/svg/icon.svg#icon_vk')

