.contacts
	&__list
		font-size: 0
	&__item
		display: inline-block
		vertical-align: middle
	&__link
		display: inline-block
		vertical-align: middle
	&_header
		float right
.icon
	&_git
		fill #fff
		opacity .7
		&:hover
			opacity 1
	&_skype
		fill #fff
		opacity .7
		&:hover
			opacity 1
	&_vk
		fill #fff
		opacity .7
		&:hover
			opacity 1
