.page-content__inner
  margin: 0 auto
  min-height: 100%
  heigth: auto
  background: $main-background
  -moz-osx-font-smoothing grayscale
  -webkit-font-smoothing antialiased
	&:after
	  display: block
	  position: relative
.container
  width: $content-width
  padding: 0 10px
  margin: 0 auto
  position: relative

.overlay
  display: none
  position: absolute
  top: 0
  left: 0
  width: 100%
  min-height: 100%
  background-color: rgba(0,0,0, .5)
  z-index: 99

.link
  text-decoration: none

.image
  max-width: 100%
  height: auto
