html
	width 100%
	height 100%
body
	height 100%
.page-content__inner
	-moz-osx-font-smoothing grayscale
	-webkit-font-smoothing antialiased
.wrapper
	position relative
	min-height 100%
	overflow hidden
	&:after
		display block
		content ''
		height $footer-height
.container
	max-width: $content-width
	padding: 0 10px
	margin: 0 auto

.overlay
	display: none
	position: absolute
	top: 0
	left: 0
	width: 100%
	min-height: 100%
	background-color: rgba(0,0,0, .5)
	z-index: 99

.link
	text-decoration: none

.image
	max-width: 100%
	height: auto
