@font-face 
	font-family: 'Fira Sans'
	src: url(../fonts/FiraSans-Light.woff) format('woff')
	font-style: normal
	font-weight: 300
	font-stretch: normal

@font-face
	font-family: 'Fira Sans'
	src: url(../fonts/FiraSans-Regular.woff) format('woff')
	font-style: normal
	font-weight: 400
	font-stretch: normal

@font-face
	font-family: 'Fira Sans'
	src: url(../fonts/FiraSans-Medium.woff) format('woff')
	font-style: normal
	font-weight: 500
	font-stretch: normal

