@font-face
	font-family: 'Fira Sans'
	src: url(../fonts/FiraSans-Light.ttf) format('ttf')
	font-style: normal
	font-weight: 300
	font-stretch: normal

@font-face
	font-family: 'Fira Sans'
	src: url(../fonts/FiraSans-Regular.ttf) format('ttf')
	font-style: normal
	font-weight: 400
	font-stretch: normal

@font-face
	font-family: 'Fira Sans'
	src: url(../fonts/FiraSans-Medium.ttf) format('ttf')
	font-style: normal
	font-weight: 500
	font-stretch: normal

