mixin logo()
	+b.logo&attributes(attributes)
		+e.image-wrap
			+e.IMG.image.image(src='assets/images/author.jpg' alt='author photo' title='logo image')
		+e.H1.author-name Новаш Вадим Сергеевич
		+e.A.email.link(href='mailto:novash@tut.by') novash@tut.by
