.page-header
	width 100%
	background-color #8cc34b
	box-shadow 0 5px 5px rgba(0, 0, 0, .2)

.page-header__inner
	clearfix()
	max-width 1200px
	padding-top 14px
	padding-bottom 16px
	padding-left 30px
	padding-right: 30px
	margin 0 auto
