mixin footer()
	+b.FOOTER.page-footer&attributes(attributes)
		+e.inner.container
			+e.P.some-text А это футер с текстом внутри. Он должен быть прибит к низу окна браузера,
				br
				| независимо от количества контента на странице и размера окна.


